<a href="https://colab.research.google.com/github/firarru/TA/blob/main/Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url2020 = 'https://raw.githubusercontent.com/firarru/TA/refs/heads/main/Data/2020.csv'
url2021 = 'https://raw.githubusercontent.com/firarru/TA/refs/heads/main/Data/2021.csv'

df20 = pd.read_csv(url2020, sep=';')
df21 = pd.read_csv(url2021, sep=';')

/tmp/ipython-input-3864618148.py:4: DtypeWarning: Columns (11,12,16,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df20 = pd.read_csv(url2020, sep=';')
/tmp/ipython-input-3864618148.py:5: DtypeWarning: Columns (12,13,14,15,16,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df21 = pd.read_csv(url2021, sep=';')

In [3]:
df20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61474 entries, 0 to 61473
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_STAMP   61474 non-null  object
 1   ASSET_ID     61474 non-null  int64
 2   PRESSURE     61474 non-null  object
 3   TEMPERATURE  61474 non-null  object
 4   ENERGY_RATE  61474 non-null  object
 5   VOLUME_RATE  61474 non-null  object
 6   C1           0 non-null      float64
 7   C2           61474 non-null  object
 8   C3           61474 non-null  object
 9   IC4          61474 non-null  object
 10  NC4          61474 non-null  object
 11  IC5          61474 non-null  object
 12  NC5          61474 non-null  object
 13  C6           61474 non-null  object
 14  C7           61474 non-null  object
 15  C8           61474 non-null  object
 16  C9           61474 non-null  object
 17  N2           61474 non-null  object
 18  CO2          61474 non-null  object
 19  H2O          61474 non-null  float64
 20  HCDP         8609 non-null   object
dtypes: float64(2), int64(1), object(18)
memory usage: 9.8+ MB

In [4]:
df21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61313 entries, 0 to 61312
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_STAMP   61313 non-null  object
 1   ASSET_ID     61313 non-null  int64
 2   PRESSURE     61313 non-null  object
 3   TEMPERATURE  61313 non-null  object
 4   ENERGY_RATE  61313 non-null  object
 5   VOLUME_RATE  61313 non-null  object
 6   C1           0 non-null      float64
 7   C2           61313 non-null  object
 8   C3           61313 non-null  object
 9   IC4          61313 non-null  object
 10  NC4          61313 non-null  object
 11  IC5          61313 non-null  object
 12  NC5          61313 non-null  object
 13  C6           61313 non-null  object
 14  C7           61313 non-null  object
 15  C8           61313 non-null  object
 16  C9           61313 non-null  object
 17  N2           61313 non-null  object
 18  CO2          61313 non-null  object
 19  H2O          61313 non-null  object
 20  HCDP         0 non-null      float64
dtypes: float64(2), int64(1), object(18)
memory usage: 9.8+ MB

In [5]:
df20.drop(columns=['C1','HCDP'], inplace=True)
df21.drop(columns=['C1','HCDP'], inplace=True)

In [6]:
df20['DATE_STAMP'] = pd.to_datetime(df20['DATE_STAMP'], errors='coerce')
df21['DATE_STAMP'] = pd.to_datetime(df21['DATE_STAMP'], errors='coerce')

In [7]:
df = pd.concat([df20, df21], ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122787 entries, 0 to 122786
Data columns (total 19 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE_STAMP   122787 non-null  datetime64[ns]
 1   ASSET_ID     122787 non-null  int64
 2   PRESSURE     122787 non-null  object
 3   TEMPERATURE  122787 non-null  object
 4   ENERGY_RATE  122787 non-null  object
 5   VOLUME_RATE  122787 non-null  object
 6   C2           122787 non-null  object
 7   C3           122787 non-null  object
 8   IC4          122787 non-null  object
 9   NC4          122787 non-null  object
 10  IC5          122787 non-null  object
 11  NC5          122787 non-null  object
 12  C6           122787 non-null  object
 13  C7           122787 non-null  object
 14  C8           122787 non-null  object
 15  C9           122787 non-null  object
 16  N2           122787 non-null  object
 17  CO2          122787 non-null  object
 18  H2O          122787 non-null  object
dtypes: datetime64[ns](1), int64(1), object(17)
memory usage: 17.8+ MB

In [9]:
df['Year'] = df['DATE_STAMP'].dt.year
df['Month'] = df['DATE_STAMP'].dt.month
df['Day'] = df['DATE_STAMP'].dt.day

In [10]:
df

,DATE_STAMP,ASSET_ID,PRESSURE,TEMPERATURE,ENERGY_RATE,VOLUME_RATE,C2,C3,IC4,NC4,...,C6,C7,C8,C9,N2,CO2,H2O,Year,Month,Day
0,2019-08-01 01:00:00,133001,14.517.578.125,998.828.125,12.577.816.772.460.900,11.544.931.793.212.800,53.047.008.514.404.200,13.537.909.984.588.600,0.43645539879798889,0.32078948616981506,...,0.13726329803466797,0.072187356650829315,0.017096299678087234,0.0014136940008029342,0.18879610300064087,18.426.729.440.689.000,0.021652,2019,8,1
1,2019-08-01 01:00:00,133070,57.998.345.947.265.600,701.334.228.515.625,22.086.972.045.898.400,20.386.820.983.886.700,40.502.729.415.893.500,18.676.921.129.226.600,0.63757425546646118,0.43791347742080688,...,0.052651796489953995,0.027175700291991234,0.0058046546764671803,0.0011127421166747808,0.4609401524066925,17.144.795.656.204.200,0.023172,2019,8,1
2,2019-08-01 01:00:00,133004,14.522.537.841.796.800,88.786.529.541.015.600,35.391.658.782.958.900,35.160.511.016.845.700,0.35351377725601196,0.1267065703868866,0.079962827265262604,0.011465017683804035,...,0.00097288988763466477,0.0005347132682800293,0.00037611369043588638,0.00041042148950509727,0.28160208463668823,11.915.068.626.403.800,0.031738,2019,8,1
3,2019-08-01 01:00:00,133003,13.764.019.775.390.600,69.951.560.974.121.000,94.693.527.221.679.600,85.420.654.296.875,54.100.861.549.377.400,28.812.408.447.265.600,0.92682808637619019,0.64454084634780884,...,0.0011219492880627513,0.0021899009589105844,0,0.0013049410190433264,0.59806996583938599,20.923.402.309.417.700,0.00442,2019,8,1
4,2019-08-01 01:00:00,133002,144.317.626.953.125,10.549.763.488.769.500,14.397.786.140.441.800,12.521.489.143.371.500,80.482.807.159.423.800,28.396.599.292.755.100,0.86996108293533325,0.7696460485458374,...,0.15951399505138397,0.068901002407073975,0.013945001177489758,0,0.96386104822158813,12.300.390.005.111.600,0.0,2019,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122782,2021-07-31 23:00:00,133060,98.822.802.734.375,85.072.105.407.714.800,21.649.917.602.539.000,20.198.715.209.960.900,39.159.979.820.251.400,15.278.489.589.691.100,0.50782090425491333,0.31940677762031555,...,0.055132921785116196,0.030361898243427277,0.008115,0.002706,0.37366387248039246,1.846.113.920.211.790,0.020102,2021,7,31
122783,2021-07-31 23:00:00,133004,133.897.314.453.125,85.680.320.739.746.000,65.091.812.133.789.000,64.628.890.991.210.900,0.55386000871658325,0.2441290020942688,0.18608500063419342,0.025496700778603554,...,0.0019500399939715862,0.0041163000278174877,0.000819,0.00189,0.38844001293182373,17.415.499.687.194.800,0.004836,2021,7,31
122784,2021-07-31 23:00:00,133070,5.792.681.884.765.620,81.789.405.822.753.900,21.649.917.602.539.000,20.198.715.209.960.900,39.159.979.820.251.400,15.278.489.589.691.100,0.50782090425491333,0.31940677762031555,...,0.055132921785116196,0.030361898243427277,0.008115,0.002706,0.37366387248039246,1.846.113.920.211.790,0.020102,2021,7,31
122785,2021-07-31 23:00:00,133002,1.324.988.037.109.370,11.166.632.080.078.100,14.010.550.498.962.400,12.451.809.883.117.600,49.919.538.497.924.800,1.958.440.899.848.930,0.70773994922637939,0.56932097673416138,...,0.20549198985099792,0.11824899166822433,0.056804,0.011967,0.74590092897415161,10.155.019.760.131.800,0.0,2021,7,31
122786,2021-07-31 23:00:00,133071,58.978.265.380.859.300,82.710.670.471.191.400,63.750.679.016.113.200,59.442.157.745.361.300,39.332.606.792.449.900,1.525.907.039.642.330,0.50669610500335693,0.32297447323799133,...,0.052576005458831787,0.031619392335414886,0.017024,0.002151,0.37358489632606506,18.450.201.749.801.600,0.020899,2021,7,31

In [11]:
df['DATE_STAMP'] = pd.to_datetime(df['DATE_STAMP'])

df_filter = df.loc[
    (df['DATE_STAMP'] >= '2020-06-01 00:00:00') &
    (df['DATE_STAMP'] <= '2021-06-30 23:00:00')
].reset_index(drop=True)

In [14]:
df_filter.shape

(66346, 22)